@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Inconsolata:wght@200..900&family=Rock+Salt&family=RocknRoll+One&family=Rubik+Moonrocks&display=swap");

/**** Home ****/

#content {
  max-width: 1600px;
  margin: 0 auto;
}

/* Colors */

body {
  font-family: Barlow, Helvetica, sans-serif;
  font-size: 22px;
  padding: 0;
  margin: 0;
  background-color: #aba9c3b3;
}
header {
  font-family: "Rock Salt", "RocknRoll One";
  background-color: #d8c99bc1;

  display: grid;
  grid-template-columns: 150px auto;
}
#background {
  height: 725px;
  background-color: #d8c99b;
  grid-column: 1/11;
  grid-row: 4/9;
}
.msg {
  padding: 35px;
  line-height: 1.5em;
  background-color: #5b616a;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #5b616a;
}
footer {
  padding: 25px 50px;
  margin-top: 200px;
  background-color: #5b616a;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer p {
  font-size: 1.2em;
}
footer p a:hover {
  text-decoration: underline;
}
footer a {
  color: #d8c99b;
  text-decoration: none;
}
footer a:hover {
  color: #d8c99b;
}
footer .social img {
  padding-top: 15px;
}

nav {
  display: flex;
  justify-content: space-around;
}
nav a {
  font-family: Barlow, Helvetica, sans-serif;
  text-align: center;
  padding: 35px;
  color: #275dad;
  text-decoration: none;
}
nav a:hover {
  color: whitesmoke;
  background-color: #275dad;
}
.home-title {
  margin-top: 10px;
  font-family: "Rock Salt", "RocknRoll One";
  font-size: 2em;
  color: #d8c99b;
}
h2 {
  margin: 0;
}
h4 {
  color: #275dad;
}
.book,
.join {
  margin-top: 50px;
  border-radius: 5px;
  font-size: 18px;
  /* color: #aba9c3;
  background-color: #5b616a; */
  background-color: #d8c99b;
  color: #275dad;
  text-decoration: none;
  transition: 0.25s;
}
.book:hover,
.join:hover {
  padding: 15px 30px;
  color: #d8c99b;
  background-color: #275dad;
}
.msg h2 {
  font-family: "Rock Salt", "RocknRoll One";
  color: white;
}
.msg p {
  padding-bottom: 15px;
  font-size: 0.8em;
  color: #d8c99b;
  /* color: #275dad; */
}

/* Alignments */

#hero {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: -113px;
}
#hero-box {
  grid-column: 1/6;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg {
  grid-column: 2/5;
  grid-row: 1/2;
  margin-top: 100px;
}
#hero-msg h1,
#hero-msg h4 {
  text-align: center;
}
#hero-msg h4 {
  color: #fffc;
}
.button-box {
  text-align: center;
}
.home-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
main section img {
  box-sizing: border-box;
}
section {
  text-align: center;
}

/* Widths */

.logo-container,
.icon {
  /* because of the padding, this needs to be its own thing so that the border-radius can make a complete circle */
  padding-top: 10px;
}
.logo {
  border-radius: 100%;
}
.logo-container,
.logo,
.icon {
  width: 80px;
}
#hero-img {
  width: 100%;
}
.rivers-card,
.camping-card,
.rapids-card {
  margin: 200px 0;
}
.rivers-card {
  grid-column: 2/4;
  grid-row: 2/3;
}
.camping-card {
  grid-column: 5/7;
  grid-row: 2/3;
}
.rapids-card {
  grid-column: 8/10;
  grid-row: 2/3;
}
.card-img {
  border: 10px solid #d8c99b;
  width: 100%;
  transition: 0.5s;
  /* transition: transform 0.5s; */
  /* transition-timing-function: ease; */
  box-shadow: 5px 5px 10px #5b616a;
}
.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}
.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #5b616a;
}
#logo_link {
  padding-top: 5px;

  justify-self: center;
  align-self: center;
}

/**** Blog ****/

#blog-top {
  text-align: center;
  width: 40%;
  margin: 30px auto;
  padding: 45px;
  line-height: 1.5em;
  box-shadow: 10px 10px 10px #4b515a;
  background-color: #5b616a;
  font-family: "Rock Salt";
  color: #d8c99b;
  border-radius: 20px;
}
/* #blog-title {
  text-align: center;
  justify-self: center;
  align-self: center;
} */
#blog-description {
  font-family: Barlow, Helvetica, sans-serif;
}
/* #blog-grid {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
} */
.post h3 {
  /* .post-title { */
  font-family: "Rock Salt", "RocknRoll One";
  color: #275dad;
  /* text-align: center; */
}
/* #background {
  height: 725px;
  background-color: #d8c99b;
  grid-column: 1/11;
  grid-row: 4/9;
} */
.post {
  width: 80%;
  /* display: block; */
  margin: 0 auto;
  text-align: justify;
  /* content: normal; */
  font-size: 1em;

  padding: 45px;
  line-height: 1.5em;
  background-color: #d8c99b;
  /* grid-column: 6/10;
  grid-row: 6/7; */
  box-shadow: 5px 5px 10px #5b616a;
}
.post img {
  /* max-height: 75%; */
  /* height: 150px; */ /* width: auto; */
  float: inline-end;
  /* padding-left: -100px; */
  margin: 16px;
  margin-left: 32px;
  /* margin-right: -100px; */ /* to make it stick off the edge of the post */
  box-shadow: 1px 2px 5px #88793b;
}

/* I may want to add tape and pin icons/images to these
post boxes, but for now, this will do nicely. */

/* Contact Us */

body {
  /* Center the form on the page */
  text-align: center;
}

form {
  display: inline-block;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  min-width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;
  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;
  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;
  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

/* Media Query -- Do not add any CSS below! */

@media screen and (max-width: 900px) {
  #hero,
  .home-grid {
    display: block;
    height: auto;
  }
  nav,
  footer {
    flex-direction: column;
  }
  nav a {
    display: block;
    padding: 15px;
  }
  #hero {
    margin-top: 0;
  }
  #hero-msg {
    margin-top: 0;
  }
  #hero-msg h4 {
    display: none;
  }
  #hero-msg h1 {
    color: #6f7364;
  }
  .home-title {
    font-size: 25px;
  }
  .rivers-card,
  .camping-card,
  .rapids-card {
    margin: 50px auto;
    width: 60%;
  }
  #background {
    display: none;
  }
  .mountains,
  .msg {
    width: 80%;
    display: block;
    margin: 0 auto;
  }
  footer {
    margin-top: 25px;
  }
}

/* ^^^ Media Query -- Do not add any CSS here or below! */
